body {
	background-image: url('../images/fond_jaune.png');
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}

#bloc_page {
	size: 900px;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
}

section h1 {
	text-transform: uppercase;
}

footer h1 {
	text-transform: uppercase;
}

header {
	background: url('../images/separateur.png') bottom;
	background-image: bottom;
	background-repeat: repeat-x;
}

#titre_principal h1 {
	font-size: 5em;
	font-family: "Arial", "cursive";
	display: inline-block;
	margin-bottom: 0px;
}

#titre_principal h2 {
	font-size: 1.1em;
	font-family: "Verdana", "Geneva", sans-serif; 
	margin-top: 0px;
}

nav {
	display: inline-block;
	width: 90%;
	text-align: right;
}

nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 15px;
}

nav a {
	text-transform: uppercase;
	font-size: 1.3em;
	color: #181818;
	padding-bottom: 3px;
	text-decoration: none;

}

nav a:hover {
    color: #760000;
	border-bottom: 3px;
	border-top: 3px;
}

#banniere_image {
	margin-top: 15px;
	height: 200px;
	border-radius: 5px;
	position: relative;
	padding: 0px;
	box-shadow: 0px 14px 14px #1c1a19;
	background-image: url("../images/bangkok.jpg");
	color: white;
	font-size: 0.8em;
	margin-bottom: 30px;
}

.bouton_rouge {
	display: inline-block;
	height: 20px;
	position: absolute;
	background-color: #993300;
	font-size: 1.2em;
	text-align: center;
	color: white;
}

section article{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	margin-right: 60%;
}

section article p{
	font-size: 0.8em;
}

section aside{
	display: inline-block;
	vertical-align: top;
	text-align: justify;
	position: relative;
	width: 30%;
	background-color: #706b64;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.9em;
	color: white;
	box-shadow: 4px 4px 5px #1c1a19;
}

section aside #bulle{
	position: absolute;
	top: 100px;
	left: -12px;
}

footer {
	margin-top: 10px;
	padding-top: 30px;
	background:  url("../images/separateur.png");
	background-image: top;
	/*Consigne :
	background-repeat: no-repeat;*/
	/*Pour le résultat : */
	background-repeat: repeat-x;
}

footer p{
	font-size: 0.8em;
}

footer ul{
	font-size: 0.8em;
}

footer h1{
	font-size: 1.1em;
}

.ragot {
	font-style: italic;;
}

#tweet{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

#mes_photos{
	display: inline-block;
	vertical-align: top;
	width: 40%;
}

#mes_photos img{
	border: solid;
	border-color: #181818;
	margin-right: 2px;
}

#mes_amis{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

#mes_amis ul{
	display: inline-block;
	vertical-align: top;
	margin-top: 0px;
	width: 48%;
	padding-left: 2px;
}

.amis a {
	text-decoration-line: none;
	color: #760000;
}