@font-face { font-family: Dimbo; src: url('Dimbo.ttf'); } 

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.scretch {
	size: 400px;
}

body {
	background-color: black;
	color: white; 
	font-family: Dimbo;
	letter-spacing: 2px;
	/*background-image: url('tintin gif 2.gif');
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;*/
}

td {
	/*background-image: url('tintin gif 2.gif');
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;*/
	text-align: center;
	/*background-color: red;*/
}

.tintinBack {
	background-image: url('tintin gif 2.gif');
	background-repeat: repeat;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
}


